<div class="p-4">
  <h2 class="text-xl font-bold mb-4">Available Units</h2>
  <p class="text-red-600 font-bold">Units Count: {{ units.length }}</p>
  <pre>{{ units | json }}</pre>
  <table class="table-auto w-full border">
    <thead>
      <tr class="bg-gray-200">
        <th class="border p-2">Tower</th>
        <th class="border p-2">Unit No</th>
        <th class="border p-2">Floor</th>
        <th class="border p-2">Rent</th>
        <th class="border p-2">Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of units">
        <td class="border p-2">{{ u.tower }}</td>
        <td class="border p-2">{{ u.unitNumber }}</td>
        <td class="border p-2">{{ u.floor }}</td>
        <td class="border p-2">{{ u.rent }}</td>
        <td class="border p-2">{{ u.status }}</td>
      </tr>

      <tr *ngIf="units.length === 0">
        <td colspan="5" class="text-center p-4 text-gray-500">
          No units available
        </td>
      </tr>
    </tbody>
  </table>
</div>
