<div class="min-h-screen bg-gray-100 p-6">

  <app-admin-header (logoutEvent)="logout()"></app-admin-header>

  <app-admin-messages
    [successMsg]="successMsg"
    [errorMsg]="errorMsg"
  ></app-admin-messages>

  <app-admin-summary [occupancy]="occupancy"></app-admin-summary>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <app-tower-manager
      [towerForm]="towerForm"
      [towers]="towers"
      (addTowerEvent)="addTower()"
    ></app-tower-manager>

    <app-unit-manager
      [unitForm]="unitForm"
      [towers]="towers"
      [units]="units"
      (addUnitEvent)="addUnit()"
      (deleteUnitEvent)="deleteUnit($event)"
    ></app-unit-manager>
  </div>

  <app-booking-approval
    [bookings]="bookings"
    [loading]="loading"
    [bookingStatusFilter]="bookingStatusFilter"
    [declineReason]="declineReason"
    (filterChanged)="onBookingFilterChange($event)"
    (approveEvent)="approveBooking($event)"
    (declineEvent)="declineBooking($event)"
  ></app-booking-approval>

</div>
