<div class="min-h-screen bg-gray-100">
  <!-- Header -->
  <div class="bg-white shadow">
    <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
      <h1 class="text-xl font-bold text-gray-800">Home</h1>
      <button
        (click)="logout()"
        class="px-4 py-2 rounded-lg bg-red-600 hover:bg-red-700 text-white text-sm font-semibold"
      >
        Logout
      </button>
    </div>
  </div>
  <div class="max-w-6xl mx-auto px-4 py-6">
    <h2 class="text-lg font-semibold text-gray-700 mb-4">Available Units</h2>

    <p *ngIf="loading" class="text-gray-500">Loading units...</p>
    <p *ngIf="errorMsg" class="text-red-600 font-medium mb-3">{{ errorMsg }}</p>
    <p *ngIf="successMsg" class="text-green-600 font-medium mb-3">{{ successMsg }}</p>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      
      <div
        *ngFor="let u of units; let i = index"
        class="bg-white rounded-2xl shadow p-5 border hover:shadow-md transition"> 
        
        <img
        [src]="getUnitImage(i)"
        class="w-full h-48 object-cover rounded-lg mb-3"
        />
        
        <p class="text-sm text-gray-500 mt-1">
    Tower {{u.tower}} • Unit {{u.unit_no}} • Floor {{u.floor}}
  </p>

  <!-- Icons Section -->
  <div class="flex items-center gap-4 text-gray-600 mt-2 text-sm">

    <span class="flex items-center gap-1">
      🛏 {{u.bhk}}
    </span>

    


  </div>
      <p>🪑 {{ u.furnishing_type || 'N/A' }}</p>

      <p>
      🏊 Amenities:
      <span *ngIf="u.amenities?.length; else noAmenities">
      <span *ngFor="let a of u.amenities; let i = index">
      {{ a.name }}<span *ngIf="i < u.amenities.length - 1">, </span>
      </span>
      </span>

       <ng-template #noAmenities>
       None
       </ng-template>
       </p>

       <p class="mt-2 text-lg font-semibold text-gray-800">
       ₹ {{u.rent}} / month
       </p>
        
        <button
          (click)="requestBooking(u.id)"
          class="mt-4 w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg font-semibold"
        >
          Request Booking
        </button>
      </div>
    </div>
    
  </div>
</div>
